@media screen and (max-width: 60em) {
  /* Footer */
  #footer .inner { width: auto; margin: 0 2em; }
  .col-1, .col-2, .col-3, .col-4 {
    width: 23%;
    margin: 0 1%;
  }
}





@media screen and (max-width: 54em) {
  
  /* Header */
  #nav {
    margin-right: 3.55em;
  }
}



/* iPad */
@media screen and (max-width: 48em) {
  
  
  
  /* Images */
  img {
    max-width: 100%;
    height: auto;
  }
  img[width] {
    max-width: 100% !important;
    height: auto !important;
  }
  
  
  /* Main */
  #main {
    width: auto;
    max-width: 48em;
    margin: 0 2em;
  }
  
  
  article { margin: 3em 0; }
  article header { margin: 2em 0; padding: 0 0 1em; }
  
  
  
  
  .animate-wrap {
    width: auto;
    height: auto;
  }

}



@media screen and (max-width: 42em) {
  
  
  #header .inner {
    width: 100%;
    margin: 1px 0 0;
  }

  .social-media-links {
    overflow: hidden;
  }
  #nav {
    margin-right: 0;
  }


  #respond textarea {
    width: 300px;
  }
  
}



/* Phones */
@media only screen and (max-width: 480px) {

  body {
    line-height: 1.7;
  }
  
  /* Headlines */
  h1 { font-size: 2em; }
  h2 { font-size: 1.5em; margin-top: 10px; }
  h3 { font-size: 1.2em; margin-top: 5px; }
  h4 { font-size: 1.1em; }
  
  
  /* Inputs */
  input,
  #respond input,
  textarea,
  #respond textarea {
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
  }
  
  /* Header */
  #header {
    padding: 0 1.5em;
  }


  .social-media-links a,
  .search-icon {
    width: 24px;
    height: 24px;
  }
  
  .social-media-links a:after,
  .search-icon:after {
    width: 24px;
    height: 24px;
    background-size: 100% 100%;
  }
  
  .search-icon {
    right: 1.5em
  }
  
  
  #nav {
    float: none;
  }
  #nav li:first-child a {
    border-left: 0;
  }
  
  #comments {
    margin: 3em 0 1em;
  }
  
  .required {
    display: none;
  }

  
  /* Main */
  #main {
    margin: 0 1.5em;
  }
  
  
  article { margin: 2em 0 1em; }
  article header {
    margin: 30px 0;
    padding: 0 0 10px;
  }
  article header:after {
    display: table;
    content: '';
    clear: both;
  }
  
  article header h1 {
    margin-bottom: 0;
  }
  
  #post-nav {
    display: none;
  }
  
  
  /* Footer */
  .col-1, .col-2, .col-3, .col-4 {
    float: none;
    display: block;
    width: auto;
    margin: 0 0 2em;
  }



}










