/* iPad */
@media screen and (min-width: 480px) and (max-width: 980px) {
  
  
  
  /* Images */
  img { max-width: 100%; }



  /* Header */
  #inner-header {
    width: 100%;
    max-width: 900px;
    padding: 0 20px;
    -moz-box-sizing: border-box; box-sizing: border-box;
  }
  
  
  
  /* Main */
  #main {
    width: 100%;
    max-width: 900px;
  }
  
  
  article { margin: 30px 20px; }
  article::after { left: 10px; right: 10px; }
  article header { margin: 30px 0; padding: 0 0 10px; }
  
  
  
  /* Footer */
  footer .inner { width: 748px; }
  .col-1, .col-2, .col-3, .col-4 { width: 165px; }

}



/* Phones */
@media only screen and (max-width: 480px),
only screen and (max-device-width: 480px) {
  
  /* Headlines */
  h1 { font-size: 2em; }
  h2 { font-size: 1.5em; margin-top: 10px; }
  h3 { font-size: 1.2em; margin-top: 5px; }
  h4 { font-size: 1.1em; }
  

  /* Images */
  img { max-width: 100%; }



  /* Header */
  #inner-header { width: auto; padding: 0 20px; }
  
  
  
  /* Main */
  #main { width: 100%; }
  
  
  article { margin: 50px 20px 30px; }
  article::after { left: 10px; right: 10px; }
  hr, #post-nav:after, .page-title:after {
    left: 0;
    right: 0;
    margin-top: -30px;
  }
  article header { margin: 30px 0; padding: 0 0 10px; }
  article .comment-count { padding: 10px 10px 0; }
  
  #post-nav.nav-loop {
    margin-top: -20px;
  }
  #post-nav:after {
    margin-top: 0;
  }
  
  .wp-syntax .raw {
    display: none;
  }
  
  
  
  /* Footer */
  footer .inner { width: auto !important; }
  .col-1, .col-2, .col-3, .col-4 { float: none; display: block; width: auto; margin-bottom: 40px; }



}










