// iPad
@media screen and (max-width: 48em) {

	body {
		   -moz-text-size-adjust: auto;
		-webkit-text-size-adjust: auto;
		    -ms-text-size-adjust: auto;
	}

	// Images
	img {
		max-width: 100%;
		height: auto;
	}

	img[width] {
		max-width: 100% !important;
		height: auto !important;
	}


	// Header, Main and Footer
	#header,
	#main,
	.footer {
		width: auto;
		max-width: 48em;
		margin: 7px 2em 0;
	}

	// Comments form
	#comment {
		width: auto;
		max-width: 400px;
	}

	#respond .subscribe-to-comments {
		margin-left: 0;
	}

}



@media screen and (max-width: 40em) {
	#comment {
		max-width: 300px;
	}

	#search.active form {
		width: 142px;
	}
}



// Phones
@media only screen and (max-width: 543px) {

	// Headlines
	h1 { font-size: 2em; }
	h2 { font-size: 1.5em; margin-top: 10px; }
	h3 { font-size: 1.2em; margin-top: 5px; }
	h4 { font-size: 1.1em; }


	// Coments
	#respond label {
		width: 90px;
	}

	#respond input,
	#respond textarea {
		font-size: 16px;
	}

	#respond input[type="submit"] {
		width: auto;
	}

	#comments {
		margin: 3em 0 1em;
	}


	// Header, Main and Footer
	#header,
	#main,
	.footer {
		margin: 7px 1.5em 0;
	}


	article {
		margin: 2em 0 1em;

		header {
			margin: 30px 0;
			padding: 0 0 10px;

			h1 {
				margin-bottom: 0;
			}
		}
	}

	#search form {
		position: absolute;
		right: 50px;
	}

}


@media only screen and (max-width: 480px) {
	#logo a,
	#nav a {
		padding: 5px 10px;
	}

	#search {
		.search-icon {
			padding: 4px;
		}

		form {
			right: 40px;
		}

		input[type="search"] {
			border-width: 6px 0 5px;
			padding: 6px 0;
			width: 147px;

			&::-webkit-search-cancel-button {
				display: none;
			}
		}
	}

	#respond input,
	#respond textarea {
		width: 100%;
		max-width: none;

		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	#respond .subscribe-to-comments label {
		display: inline;
	}

	.author-image {
		max-width: 150px;
	}
}










