@mixin rotate($deg) {
    -webkit-transform: rotateY($deg);
       -moz-transform: rotateY($deg);
            transform: rotateY($deg);
}

@mixin transition($prop, $duration, $effect) {
  -webkit-transition: $prop $duration $effect;
     -moz-transition: $prop $duration $effect;
      -ms-transition: $prop $duration $effect;
       -o-transition: $prop $duration $effect;
          transition: $prop $duration $effect;
}

@mixin linear-gradient($col1, $col2) {
  background: $col1;
  background: -webkit-gradient(linear, left top, left bottom, from($col1), to($col2));
  background: -webkit-linear-gradient(top, $col1, $col2);
  background:    -moz-linear-gradient(top, $col1, $col2);
  background:     -ms-linear-gradient(top, $col1, $col2);
  background:      -o-linear-gradient(top, $col1, $col2);
  background:         linear-gradient(top, $col1, $col2);
}




html { background: url(../img/bg.png); }


body {
  font: 15px/2 ff-meta-serif-web-pro-1,ff-meta-serif-web-pro-2,serif;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}


/* Selected Text */
::-moz-selection { background: #c3beae; color:#fff; text-shadow: none; }
::selection { background: #c3beae; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #c3beae; }






/* Headlines */
h1 { font-size: 3em; }
h1 a {
   text-shadow: 2px 2px 0 #fff;
}
h2 { font-size: 2em; margin-top: 20px; }
h3 { font-size: 1.5em; margin-top: 18px; }
h4 { font-size: 1.2em; }

h1, h2, h3 {
  font-family: ff-meta-web-pro-1,ff-meta-web-pro-2,sans-serif; font-weight: normal;
  -webkit-hyphens: manual;
     -moz-hyphens: manual;
          hyphens: manual;
}




/* Links */
a, a:visited { color: #666; border-bottom: 1px dotted #aaa; text-decoration: none; }
a:hover { color: #000; border-bottom-color: #000; text-decoration: none; }





/* Quotes */
q, blockquote { font: italic 1em/2 Georgia, "Times New Roman", Times, serif; }
blockquote { margin: 20px 0; border-left: 5px solid #ddd; padding-left: 20px; }
blockquote footer { margin: 10px 0 10px 20px; font-style: normal; font-size: .9em; }
blockquote footer:before { content: '\2014\0020'; }



/* Small, Big aso. */
small { font-size: .85em; }
big { font-size: 1.5em; }


/* Code */
code {
  background: #f8f8f8;
  padding: 0 .2em; border: 1px solid #ddd;
  font-size: 14px; color: #444;
  white-space: nowrap;
}



/* Images */
.alignright { float: right; margin: 10px 0 10px 20px; }
.alignleft { float: left; margin: 10px 20px 10px 0; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; text-align: center; }
.alignleft a, .alignright a { border-bottom: none; }

.wp-caption {
  background: #f5f5f5; border: 1px solid #ddd; padding: 5px;
  border-radius: 5px;
}

.wp-caption-text { font-size: 0.9em; text-align: center; margin: 5px 0; line-height: 1; }



/* Pragraphes */
p + p { margin-top: 15px; }




/* Forms */
label { display: block; }

input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
textarea {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-bottom-color: #aaa;
  background: rgba(255,255,255,.2);
  color: #444;
  box-shadow: 0 0 10px #ddd;
  border-radius: 5px;
}

input[type="text"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
textarea:focus {
  border-color: #aaa;
  background: rgba(255,255,255,1);
  box-shadow: 0 0 10px #aaa;

}
textarea { height: 150px; resize: vertical; }
input:focus, textarea:focus { outline: 0; }

input[type="search"] { -webkit-appearance: textfield; padding: 10px 0; }


fieldset + fieldset input[type="text"],
fieldset + fieldset input[type="url"],
fieldset + fieldset input[type="email"],
fieldset + fieldset input[type="password"],
fieldset + fieldset input[type="number"],
fieldset + fieldset input[type="search"] {
  -webkit-border-top-left-radius: 0;
     -moz-border-top-left-radius: 0;
          border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
     -moz-border-top-right-radius: 0;
          border-top-right-radius: 0;
}


/* Buttons */
.button, input[type="submit"] {
  display: inline-block;
  @include linear-gradient(#eee, #ccc);
  
  border: 1px solid #777; padding: .5em 1.5em; margin: 0.5em 0;
  text-decoration: none; color: #333; text-shadow: 0 1px 0 rgba(255,255,255,.8); white-space: nowrap;
  line-height: 1;
  cursor: pointer; overflow: visible;
  
  border-radius: 5px;
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,.8), 0 1px 0 rgba(0,0,0,.3);
}

.button:hover, input[type="submit"]:hover {
  border-bottom-color: #555;
  @include linear-gradient(#fafafa, #ddd);
}

.button:active, input[type="submit"]:active, input[type="submit"]:focus {
  box-shadow: inset 0 0 4px 2px rgba(0,0,0,.3);
}
.button:focus { outline: 0; background: #fafafa; }    

.button:before, input[type="submit"]:before {
  float: left;
  background: #ccc;
  background: rgba(0,0,0,.1);
  width: 1em;
  padding: 0 .2em; margin: 0 1em 0 -1em;
  text-align: center; font-size: 1.5em;
  border-radius: .15em 0 0 .15em;
  box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
}

/* Hexadecimal entities for icons */
.add:before { content: "\271A"; }
.edit:before { content: "\270E"; }
.delete:before { content: "\2718"; }
.save:before { content: "\2714"; }
.email:before { content: "\2709"; }
.like:before { content: "\2764"; }
._next:before { content: "\279C"; }
.star:before { content: "\2605"; }
.spark:before { content: "\2737"; }
.play:before { content: "\25B6"; }

/* disabled buttons */
.button[disabled], .button[disabled]:hover, .button.disabled, .button.disabled:hover {
  background: #eee;
  border-color: #aaa;
  cursor: default;
  color: #aaa; text-shadow: none;
  box-shadow: none;
}





/* Transitions */
a,
article .comment-count,
input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
textarea,
.content-widget .close,
.wp_syntax,
.js img {
  @include transition(all, 0.3s, ease-out);
}
.content-widget {
  @include transition(all, 0.1s, ease-out);
}









/* Overlay */
#overlay {
  position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 100;
  width: 100%; height: 100%;
  background: #000;
  opacity: .7;
}
#overlay.transparent { background: #000; opacity: .1; }




/* Container */
#main { margin: 0 auto; width: 960px; }







/* Articles */
article { margin: 30px 90px 80px; padding-bottom: 20px; }
hr,
#post-nav:after,
.page-title:after {
  position: absolute; left: 4em; right: 4em;
  display: block; content: "";
  margin-top: -50px; border-top: 1px solid #b2b0a4;
}

article header {
  position: relative;
  margin: 30px -90px;
  border-bottom: 1px solid #ddd;
  padding: 0 90px 10px;
}
article header:after {
  content: '';
  display: table;
  clear: both;
}
article .comment-count {
  position: absolute; top: -49px; right: 10px;
  border: 1px solid #c9c8c0; border-top: 0; padding: 20px 18px 3px;
  background: #f1efe8;
  font-size: 1.1em; text-shadow: 1px 1px 1px #fff;
  opacity: 0.5;
  box-shadow: 0px 1px 2px #c9c8c0;
  border-radius: 0 0 5px 5px
}
article:hover .comment-count { opacity: 1; border-bottom-color: #c9c8c0; }
article header h1 { line-height: 1.2; margin-bottom: 20px; }
article header h1 a { border-bottom: 0; }
article time, article .categories, article .author { font-size: 0.9em; color: #888; }
article .categories { float: right; padding-top: 4px; }


.share-post {
  text-align: center;
  padding: 15px 0 5px;
  border-top: 1px solid #c9c8c0; border-bottom: 1px solid #eee;
  margin: 50px -90px 10px;
}
.tags,
.instapaper { text-align: center; }

.tags { border-top: 1px solid #eee; margin-top: 7px; padding-top: 10px; }



.readmore { margin: 10px 0 80px; }
.readmore span { font: 1.3em Georgia, "Times New Roman", Times, serif; padding-right: 3px; }


.page-title { margin-bottom: 50px; text-align: center; }
.page-title:after { margin: 0; }


/* Search Results */
.search-results article header { margin: 10px -90px; }
.search-results article h1 { font-size: 2em; margin-bottom: 0; }


#searchform { margin-top: 20px; }
#searchform label { display: none; }




/* Comments */
#comments { margin: 100px 170px 30px; padding-bottom: 20px; }
#comments + hr { border-top-color: #d9d8d2; margin-top: -10px; }
#comments .children { margin-left: 30px; }

.pingback { margin: -40px 0 60px; }

#respond p { margin-bottom: 20px; }

#respond fieldset { margin-bottom: 2px; }
#respond label { position: relative; float: left; display: inline; width: 140px; margin: 2px 20px 0 0; }
#respond .subscribe-to-comments label {
  float: none;
  display: inline-block;
  width: auto;
}

#respond textarea { width: 599px; }

.form-submit { text-align: right; margin: 20px 0; }

#author {
  border-radius: 5px 5px 0 0;
}

#email {
  border-radius: 0;
}

.required { position: absolute; right: -9px; }

#reply-title:before {
  float: left; content: "";
  position: relative; top: 5px;
  width: 28px; height: 29px;
  margin-right: 10px;
  background: url(../img/new.png);
}


/* Single Comment */
.comment { position: relative; margin-bottom: 80px; }
.comment + hr { border-top-color: #e8e8e5; }
#commentform { margin-bottom: 80px; }

.avatar {
  position: absolute; top: 0; left: -50px;
  border-radius: 33px;
}

.comment .author { font-size: 1.3em; }
.comment time,
.comment-awaiting-moderation,
.comment-edit-link { font-size: .8em; }

.reply { text-align: right; }
#reply-title small { float: right; margin-top: 8px; font-weight: normal; font-size: .7em; }

#respond .invalid { border-color: #f30; }




/* Syntax-Highlighter */
.wp_syntax {
  position: relative;
  border: 1px solid #e8e8e5;
  background: rgba(255,255,255,.2);
  margin: 20px 0;
  font-size: .85em;
  line-height: 1.6;
  border-radius: 5px;
}
.wp_syntax:hover { background: #fff; }




/* Navigation */
#post-nav { margin: 10px 10px 50px; }
#post-nav:after { margin-top: 10px; border-bottom-color: #b9b8ae; }

#post-nav .prev { float: left; }
#post-nav .next { float: right; }


#post-nav.nav-loop { margin-top: -38px; }





/* Header */
#header {
  position: relative;
  background: url(../img/bg-dark.png);
  border-bottom: 1px solid #b2b0a4; margin-bottom: 50px;
  box-shadow: 0 0 2px #b2b0a4;
}
#inner-header { position: relative; width: 940px; margin: 0 auto; padding: 0 10px; }

#logo { float: left; font-size: 1.5em; font-family: "ff-netto-web-1", "ff-netto-web-2", sans-serif; }
#logo a { border-bottom: 0; }


#misc { float: right; margin: 10px 15px 5px; list-style: none; }
#misc li { display: inline; }
#misc a { float: left; width: 32px; height: 32px; margin-left: 1em; text-indent: -999em; opacity: .5; border-bottom: 0; }
#misc .active a,
#misc a:hover { opacity: 1; }
#misc .search-icon a { background: url(../img/search.png) no-repeat; }






/* Content Widgets */
.content-widget {
  position: absolute; z-index: 2000;
  background: rgba(10,10,10,.8);
  border: 1px solid #000;
  color: #ddd;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.7);

     -moz-transform: scale(0);
       -o-transform: scale(0);
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-backface-visibility: hidden;


  &:before {
    content: '\0020';
    position: absolute; top: 0; left: 0;
    width: 100%; height: 50px;
    border-radius: 5px;
    border-top: 1px solid #aaa;
    @include linear-gradient( rgba(100,100,100,.9), rgba(100,100,100,0));
  }

  .close {
    position: absolute; top: 0; z-index: 20;
    width: 16px;
    line-height: 16px;
    margin: 5px;
    border: 0;
    background: #ddd;
    color: #333; 
    font-size: 1.1em; font-weight: bold;
    text-align: center;
    text-shadow: 0 -1px 0 #fff;
    opacity: .7;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0,0,0,.4);
    
    &:hover {
      opacity: 1;
    }
  }
  
  
  /* Arrow */
  .inner {
    position: relative;
    z-index: 10;
    padding: 12px;
    
    &:before,
    &:after {
      content: '\0020';
      position: absolute; top: -9px; right: 20px;
      width: 0; height: 0;
      border-width: 0 10px 10px 10px;
      border-style: solid;
      border-color: #666 transparent;
      margin-left: -7px;
    }
    &:before {
      top: -10px;
      border-color: #aaa transparent;
    }
  }


}



#search {
  top: 60px; right: 30px;

  input {  
    border: 1px solid #000;
    color: #888;
    background: rgba(29,28,24,.2);
    text-align: center;
    box-shadow: none;
    width: 200px;
  }

  fieldset:first-child input { 
    border-radius: 5px 5px 0 0;
  }
  
  fieldset + fieldset input { border-top-color: #444; }
  
  input[type="submit"] {
    float: left;
    display: inline;
    padding: 10px; margin: 0;
    border-radius: 0 0 5px 5px;
    text-shadow: 0 1px 1px #000;
    color: #fff;
    @include linear-gradient(rgba(20,20,20,0), rgba(20,20,20,.8));
  
    &:focus,
    &:active { background: #000; }
  
  }
  
  label {
    margin-bottom: 10px; 
    color: #ddd; line-height: 1;
    text-shadow: 0 -1px 1px #000; text-align: center;
  }


}









/* @group Social Media Links */

.social-media-links {
  float: right;
  width: 150px;
  list-style: none;
  padding: 10px 0;

  a {
    display: inline; float: left;
    width: 24px; height: 24px;
    margin-right: 10px;
    text-indent: -999em;
    background: url(../img/sprite.png);
    opacity: .5;
    border: 0;
    
    &:hover { opacity: 1; }
  }
  
  .twitter a { background-position: -24px 0; }
  .lastfm a { background-position: -24px -24px; }
  .rss a { background-position: 0 -24px; }

}


/* @end */






/* @group Logo */


/* @end */






/* Footer */
#footer {
  padding: 10px 0 100px; font-size: 0.9em;
  @include linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
}
#footer .inner { width: 960px; margin: 0 auto; }

.col-1, .col-2, .col-3, .col-4 {
  display: inline; float: left;
  margin: 0 10px;
  width: 220px;
}


#footer ul { margin: 0 0 20px; list-style: none; border-top: 1px solid #ddd; }
#footer ul a,
#footer ul a:visited {
  display: block;
  border-bottom: 1px solid #ddd !important;
  white-space: nowrap;
  overflow: hidden; text-overflow: ellipsis;
  text-shadow: 1px 1px 0 #fff;
}
#footer ul a:hover { background: #fff; border-color: #ddd !important; color: #222; padding-left: 10px; }






/* Copied to Clipboard */
#copied-notice {
  display: none;
  position: fixed; top: 50%; left: 50%; z-index: 9999;
  width: 1000px;
  margin: -50px -500px; padding: 10px 0;
  background: rgba(0,0,0,.5);
  font-size: 3em; text-align: center; color: #fff;
  border-radius: 15px;
}






/* Images */
.js img { opacity: 0; }
.js img.show { opacity: 1; }



/* About me */
.animate-wrap {
    position: relative;
    width: 220px; height: 220px;
    background-color: #aaa;
    -webkit-perspective: 1000;
       -moz-perspective: 1000;
            perspective: 1000;
    margin-bottom: 15px;
}

/* Inputs */
.animate-wrap input {
  display: none;
}
.animate-wrap [type="radio"]:checked + .animate {
  @include rotate(180deg);
}

/* Image-Wrapper */
.animate {
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  @include transition(all, .5s, ease-out);
}

/* Labels */
.animate-wrap label {
    position: absolute; top: 0; left: 0;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
}

.animate-wrap .back {
  @include rotate(180deg);
  z-index: 10;
}
.animate-wrap .front {
  z-index: 100;
}



/* 404-Page */
.error404 { margin-bottom: 100px; }




/* Markdown */
#markdown {
  display: none;
  position: fixed; top: 50px; left: 50%; z-index: 102;
  width: 500px;
  margin: 0 -270px; border: 1px solid #ddd; padding: 0 20px 10px;
  background: url(../img/bg.png);
  box-shadow: 0 0 100px rgba(0,0,0,.5), 0 0 30px rgba(0,0,0,.5);
  border-radius: 5px;
}
#markdown .close {
  float: right;
  height: 24px;
  padding: 0 5px; margin-right: -7px;
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
}

.ruleset { padding-top: 10px; border-top: 1px solid #ddd; margin-top: 10px; line-height: 1.2; }
.ruleset:last-child { padding-bottom: 10px; border-bottom: 1px solid #ddd; margin-bottom: 20px; }











  