@charset "UTF-8";
h3 {
  font-size: 1.5em;
  margin-top: 18px; }

h4  {
  font-size: 1.2em; }

h1, h2, h3 {
  font-weight: normal;
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  hyphens: manual; }

hr {
  margin-top: 3em;
  margin-bottom: 3em; }

q, blockquote {
  font: italic 1em/2 Georgia, "Times New Roman", Times, serif; }

blockquote {
  margin: 20px 0;
  border-left: 5px solid #111;
  padding-left: 20px; }
  blockquote footer {
    margin: 10px 0 10px 20px;
    font-style: normal;
    font-size: 0.9em; }
    blockquote footer:before {
      content: '\2014\0020'; }

small {
  font-size: .85em; }

big {
  font-size: 1.5em; }

code {
  background: #f8f8f8;
  padding: 2px 4px 3px;
  border: 1px solid #ddd;
  font-size: 14px;
  white-space: nowrap; }

.alignright {
  float: right;
  margin: 10px 0 10px 20px; }

.alignleft {
  float: left;
  margin: 10px 20px 10px 0; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.wp-caption {
  background: #f5f5f5;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px; }

.wp-caption-text {
  font-size: 0.9em;
  text-align: center;
  margin: 5px 0;
  line-height: 1; }

p + p {
  margin-top: 15px; }

label {
  display: block; }

input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
textarea {
  width: 300px;
  padding: 10px;
  border: 1px solid #aaa;
  color: #111; }
  input[type="text"]:focus,
  input[type="url"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  textarea:focus {
    border-color: #111; }

textarea {
  height: 150px;
  resize: vertical; }

input:focus,
textarea:focus {
  outline: 0; }

input[type="search"] {
  -webkit-appearance: none;
  padding: 10px; }

.button,
input[type="submit"] {
  display: inline-block;
  background: #111;
  border: 0;
  padding: 10px 25px;
  margin: 10px 0;
  border-radius: 2px;
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
  line-height: 1;
  cursor: pointer; }
  .button:hover,
  input[type="submit"]:hover {
    color: #fff;
    background: #27aae2; }
  .button:visited,
  input[type="submit"]:visited {
    color: #fff; }
  .button:active, .button:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    color: #fff;
    background: #27aae2; }

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .7; }
  #overlay.transparent {
    background: #000;
    opacity: .3; }

.message {
  border: 1px solid #aaa;
  background: #f6f6f6;
  padding: 0 1em;
  margin: 1em -1em 1.5em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
  .message h3 {
    margin-top: 0; }
  .message p {
    margin: .4em 0; }

article {
  margin: 4em 0 2em; }

hr,
.page-title:after {
  display: block;
  content: "";
  border-top: 1px solid #aaa; }

article header {
  position: relative;
  margin: 30px 0;
  padding-bottom: 1em; }
  article header h1 {
    line-height: 1.2;
    margin-bottom: 20px; }
    article header h1 a {
      text-decoration: none; }
  article header time,
  article header .categories,
  article header .author {
    font-size: 0.9em; }
  article header .categories {
    float: right; }
    article header .categories a {
      -webkit-transition: background 0.1s linear;
      -moz-transition: background 0.1s linear;
      -ms-transition: background 0.1s linear;
      -o-transition: background 0.1s linear;
      transition: background 0.1s linear;
      display: inline-block;
      padding: 0 11px;
      text-decoration: none;
      background: #111;
      color: #fff;
      border-radius: 2px; }
      article header .categories a:visited {
        color: #fff; }
      article header .categories a:hover {
        background: #27aae2; }

.permalink {
  margin-left: 10px; }
  .permalink a {
    text-decoration: none; }

.share-post {
  text-align: center;
  margin-top: 50px; }

.tags {
  margin-top: 50px; }
  .tags a {
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    -ms-transition: background 0.1s linear;
    -o-transition: background 0.1s linear;
    transition: background 0.1s linear;
    display: inline-block;
    padding: 0 11px;
    text-decoration: none;
    background: #111;
    color: #fff;
    border-radius: 2px;
    margin-bottom: 4px; }
    .tags a:visited {
      color: #fff; }
    .tags a:hover {
      background: #27aae2; }

.readmore {
  text-align: right; }
  .readmore a {
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    -ms-transition: background 0.1s linear;
    -o-transition: background 0.1s linear;
    transition: background 0.1s linear;
    display: inline-block;
    padding: 0 11px;
    text-decoration: none;
    background: #111;
    color: #fff;
    border-radius: 2px; }
    .readmore a:visited {
      color: #fff; }
    .readmore a:hover {
      background: #27aae2; }

.page-title {
  margin: 50px 0;
  text-align: center; }
  .page-title:after {
    margin: 0; }

.search-results article header {
  margin: 10px 0; }
.search-results article h1 {
  font-size: 2em;
  margin-bottom: 0; }

#searchform {
  margin-top: 20px; }
  #searchform label {
    position: absolute;
    left: -999em; }

#comments {
  margin: 100px 0 30px;
  padding-bottom: 20px; }
  #comments + hr {
    border-top-color: #111;
    margin-top: -10px; }
  #comments .children {
    margin-left: 100px; }

.pingback {
  padding-bottom: 1em;
  border-bottom: 1px solid #e8e8e5;
  margin-bottom: 1em; }

#respond:before, #respond:after {
  display: table;
  content: ''; }
#respond:after {
  clear: both; }
#respond p {
  margin-bottom: 20px; }
#respond fieldset {
  margin-bottom: 7px; }
#respond label {
  position: relative;
  float: left;
  display: inline;
  width: 140px;
  margin: 3px 20px 0 0; }
#respond .subscribe-to-comments {
  float: left;
  margin: 20px 0 10px 160px;
  width: 330px;
  clear: none !important; }
  #respond .subscribe-to-comments label {
    float: none;
    display: inline-block;
    width: auto;
    margin-left: 5px; }

#respond textarea {
  float: left;
  width: 493px; }

.form-submit {
  float: right;
  margin: 10px 0 20px; }

.required {
  position: relative;
  left: 3px; }

/* Single Comment */
.comment {
  position: relative; }

.comment + hr {
  border-top-color: #111; }

.avatar {
  position: absolute;
  top: 0;
  left: -50px;
  border-radius: 33px; }

.comment .author {
  display: inline-block;
  font-size: 1.3em;
  margin-right: 20px; }
  .comment .author a {
    text-decoration: none; }
.comment time,
.comment .comment-awaiting-moderation,
.comment .comment-edit-link {
  font-size: .8em;
  text-decoration: none; }
  .comment time a,
  .comment .comment-awaiting-moderation a,
  .comment .comment-edit-link a {
    text-decoration: none; }

.reply {
  text-align: right; }
  .reply a {
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    -ms-transition: background 0.1s linear;
    -o-transition: background 0.1s linear;
    transition: background 0.1s linear;
    display: inline-block;
    padding: 0 11px;
    text-decoration: none;
    background: #111;
    color: #fff;
    border-radius: 2px; }
    .reply a:visited {
      color: #fff; }
    .reply a:hover {
      background: #27aae2; }

#reply-title small {
  float: right;
  margin-top: 8px;
  font-weight: normal;
  font-size: .7em; }

#respond .invalid {
  border-color: #f30; }

.wp_syntax {
  position: relative;
  border: 1px solid #ddd;
  background: #f6f6f6;
  margin: 20px 0;
  line-height: 1.6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

#post-nav {
  margin: 10px 0 30px; }
  #post-nav .prev {
    float: right; }
  #post-nav .next {
    float: left; }
  #post-nav .prev a,
  #post-nav .next a {
    text-decoration: none; }
  #post-nav ul {
    text-align: center; }
  #post-nav li {
    display: inline; }
    #post-nav li a,
    #post-nav li .current {
      -webkit-transition: background 0.1s linear;
      -moz-transition: background 0.1s linear;
      -ms-transition: background 0.1s linear;
      -o-transition: background 0.1s linear;
      transition: background 0.1s linear;
      display: inline-block;
      padding: 0 11px;
      text-decoration: none;
      background: #111;
      color: #fff;
      border-radius: 2px; }
      #post-nav li a:visited,
      #post-nav li .current:visited {
        color: #fff; }
      #post-nav li a:hover,
      #post-nav li .current:hover {
        background: #27aae2; }
      #post-nav li a.prev, #post-nav li a.next,
      #post-nav li .current.prev,
      #post-nav li .current.next {
        float: none; }
    #post-nav li .current {
      background: none;
      color: #111; }
      #post-nav li .current:hover {
        background: none; }

.search {
  position: absolute;
  top: 32px;
  right: 7px; }
  .search .search-icon {
    position: relative;
    float: right;
    width: 32px;
    height: 32px;
    padding: 10px;
    margin-left: 0;
    border-radius: 2px;
    text-indent: -999em;
    background: #111111 url(../img/search.png) center center no-repeat;
    background-size: 40px; }
  .search form {
    -webkit-transition: max-width 0.3s ease-out;
    -moz-transition: max-width 0.3s ease-out;
    -ms-transition: max-width 0.3s ease-out;
    -o-transition: max-width 0.3s ease-out;
    transition: max-width 0.3s ease-out;
    float: right;
    max-width: 0;
    overflow: hidden; }
  .search.active form {
    max-width: 10000px; }
  .search.active .search-icon {
    background-color: #27aae2; }
  .search label,
  .search input[type="submit"] {
    position: absolute;
    left: -999em; }
  .search input[type="search"] {
    border: 7px solid #27aae2;
    margin-right: 7px;
    border-radius: 2px; }
  @media (max-width: 38em) {
    .search {
      top: 7px;
      right: auto;
      left: 7px; }
      .search.active form {
        float: none;
        max-width: none; }
      .search .search-icon {
        float: left;
        padding: 4px; }
      .search input[type="search"] {
        border-width: 4px;
        margin-left: 4px;
        margin-right: 0;
        padding: 7px;
        font-size: 16px;
        max-width: 50%; } }

.site-main {
  max-width: 50em;
  padding: 7em 2em 0;
  margin: 0 auto; }
  .site-main ul {
    margin-bottom: 1em; }
  @media (max-width: 43em) {
    .site-main {
      padding-left: 1em;
      padding-right: 1em; } }

.bling-bling {
  position: absolute;
  top: 127px;
  right: 7px;
  width: 300px;
  border: 1px solid #aaa;
  background: #f5f5f5;
  padding: 10px;
  line-height: 1.4;
  font-size: 0.8em;
  overflow: hidden;
  border-radius: 2px; }
  .bling-bling:hover {
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 5px #aaa; }
  .bling-bling img {
    float: left;
    opacity: 1;
    margin: 0 1em 0 0; }
  .bling-bling a {
    text-decoration: none;
    color: #111; }
    .bling-bling a:visited, .bling-bling a:hover {
      color: #111; }
  .bling-bling .bsa_it_t {
    display: block;
    font-size: 1.2em;
    padding-bottom: 5px; }
  .bling-bling .bsa_it_p {
    display: none; }
  .bling-bling .link {
    float: right;
    font-size: 0.9em;
    padding-top: 3px; }
  @media screen and (max-width: 84em) {
    .bling-bling {
      width: 125px; }
      .bling-bling img {
        float: none;
        display: block;
        margin: 0 0 1em;
        width: 100%;
        height: auto; } }
  @media screen and (max-width: 74em) {
    .bling-bling {
      position: relative;
      top: 4em;
      right: 0;
      float: right;
      margin: 0 0 1em 1em; } }
  @media screen and (max-width: 34em) {
    .bling-bling {
      display: none; } }

.error404 {
  margin-bottom: 100px; }

@media screen and (max-width: 48em) {
  img {
    max-width: 100%;
    height: auto; }

  img[width] {
    max-width: 100% !important;
    height: auto !important; }

  #comment {
    width: auto;
    max-width: 400px; }

  #respond .subscribe-to-comments {
    margin-left: 0; } }
@media screen and (max-width: 40em) {
  #comment {
    max-width: 300px; } }
@media only screen and (max-width: 543px) {
  h1 {
    font-size: 2em; }

  h2 {
    font-size: 1.5em;
    margin-top: 10px; }

  h3 {
    font-size: 1.2em;
    margin-top: 5px; }

  h4  {
    font-size: 1.1em; }

  #respond label {
    width: 90px; }

  #respond input,
  #respond textarea {
    font-size: 16px; }

  #respond input[type="submit"] {
    width: auto; }

  #comments {
    margin: 3em 0 1em; }

  article {
    margin: 2em 0 1em; }
    article header {
      margin: 30px 0;
      padding: 0 0 10px; }
      article header h1 {
        margin-bottom: 0; } }
@media only screen and (max-width: 480px) {
  #respond input,
  #respond textarea {
    width: 100%;
    max-width: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  #respond .subscribe-to-comments label {
    display: inline; }

  .author-image {
    max-width: 150px; } }
