/* Import CSS fires for build script */
@import 'h5bp';


@mixin rotate($deg) {
		-webkit-transform: rotateY($deg);
		-moz-transform: rotateY($deg);
		transform: rotateY($deg);
}

@mixin transition($prop, $duration, $effect) {
	-webkit-transition: $prop $duration $effect;
	   -moz-transition: $prop $duration $effect;
	    -ms-transition: $prop $duration $effect;
	     -o-transition: $prop $duration $effect;
	        transition: $prop $duration $effect;
}

@mixin linear-gradient($col1, $col2) {
	background: $col1;
	background: -webkit-gradient(linear, left top, left bottom, from($col1), to($col2));
	background: -webkit-linear-gradient(top, $col1, $col2);
	background:    -moz-linear-gradient(top, $col1, $col2);
	background:     -ms-linear-gradient(top, $col1, $col2);
	background:      -o-linear-gradient(top, $col1, $col2);
	background:         linear-gradient(to bottom, $col1, $col2);
}



body {
	background: #fff;
	color: #111;
	font: 15px/2 Helvetica Neue, Helvetica, sans-serif;
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	        hyphens: auto;
}


// Selected Text
::-moz-selection {
	background: #b3d4fc;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	color: #fff;
	text-shadow: none;
}



$smWidth: 32px;

$color: #27aae2;




@mixin tag {
	@include transition(background, 0.1s, linear);

	display: inline-block;
	padding: 0 11px;
	text-decoration: none;
	background: #111;
	color: #fff;
	border-radius: 2px;

	&:visited {
		color: #fff;
	}

	&:hover {
		background: $color;
	}
}



// Headlines
h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
	margin-top: 20px;
}

h3 {
	font-size: 1.5em;
	margin-top: 18px;
}

h4 {
	font-size: 1.2em;
}

h1, h2, h3 {
	font-weight: normal;
	-webkit-hyphens: manual;
	   -moz-hyphens: manual;
	        hyphens: manual;
}




// Links
a {
	color: #111;
	text-decoration: underline;

	&:visited {
		color: #111;
	}

	&:hover {
		color: $color;
		text-decoration: none;
	}
}





// Quotes
q { font: italic 1em/2 Georgia, "Times New Roman", Times, serif; }
blockquote {
	@extend q;

	margin: 20px 0;
	border-left: 5px solid #111;
	padding-left: 20px;

	footer {
		margin: 10px 0 10px 20px;
		font-style: normal;
		font-size: 0.9em;

		&:before {
			content: '\2014\0020';
		}
	}
}



// Small, Big aso.
small { font-size: .85em; }
big { font-size: 1.5em; }


// Code
code {
	background: #f8f8f8;
	padding: 2px 4px 3px;
	border: 1px solid #ddd;
	font-size: 14px;
	white-space: nowrap;
}



// Images
.alignright { float: right; margin: 10px 0 10px 20px; }
.alignleft { float: left; margin: 10px 20px 10px 0; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; text-align: center; }

.wp-caption {
	background: #f5f5f5; border: 1px solid #ddd; padding: 5px;
	border-radius: 5px;
}

.wp-caption-text {
	font-size: 0.9em; text-align: center; margin: 5px 0; line-height: 1;
}



// Pragraphes
p + p { margin-top: 15px; }




// Forms
label {
	display: block;
}

input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
textarea {
	width: 300px;
	padding: 10px;
	border: 1px solid #aaa;
	color: #111;

	&:focus {
		border-color: #111;
	}
}

textarea {
	height: 150px;
	resize: vertical;
}

input:focus,
textarea:focus {
	outline: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	padding: 10px 0;
}


// Buttons
.button,
input[type="submit"] {

	display: inline-block;
	background: #111;

	border: 0;
	padding: 10px 25px;
	margin: 10px 0;
	border-radius: 2px;

	text-decoration: none;
	color: #fff;
	white-space: nowrap;
	line-height: 1;

	cursor: pointer;

	&:hover {
		color: #fff;
		background: $color;
	}

	&:visited {
		color: #fff;
	}

	&:active,
	&:focus {
		color: #fff;
		background: $color;
	}
}




// Transitions
input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
textarea,
.js img {
	@include transition(all, 0.3s, ease-out);
}
.content-widget {
	@include transition(all, 0.1s, ease-out);
}









// Overlay
#overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	width: 100%; height: 100%;
	background: #000;
	opacity: .7;

	&.transparent {
		background: #000;
		opacity: .3;
	}
}


// Messages
.message {
	border: 1px solid #aaa;
	background: #f6f6f6;
	padding: 0 1em;
	margin: 1em -1em 1.5em;
	box-shadow: 0 1px 1px rgba(0,0,0,.2);

	h3 {
		margin-top: 0;
	}

	p {
		margin: .4em 0;
	}
}



// Container
#main {
	margin: 0 auto;
	width: 45em;

	ul {
		margin-bottom: 1em;
	}
}







// Articles
article {
	margin: 4em 0 2em;
}

hr,
.page-title:after,
#post-nav:after {
	display: block;
	content: "";
	border-top: 1px solid #111;
}

article header {
	position: relative;
	margin: 30px 0;
	padding-bottom: 1em;

	h1 {
		line-height: 1.2;
		margin-bottom: 20px;

		a {
			text-decoration: none;
		}
	}

	time,
	.categories,
	.author {
		font-size: 0.9em;
	}

	.categories {
		float: right;

		a {
			@include tag;
		}
	}
}

.permalink {
	margin-left: 10px;

	a {
		text-decoration: none;
	}
}


.share-post {
	text-align: center;
	margin-top: 50px;
}

.tags {
	margin-top: 50px;

	a {
		@include tag;
		margin-bottom: 4px;
	}
}


.readmore {
	text-align: right;

	a {
		@include tag;
	}
}



.page-title {
	margin: 50px 0;
	text-align: center;

	&:after {
		margin: 0;
	}
}


// Search Results
.search-results article {
	header {
		margin: 10px 0;
	}

	h1 {
		font-size: 2em;
		margin-bottom: 0;
	}
}


#searchform {
	margin-top: 20px;

	label {
		position: absolute;
		left: -999em;
	}
}




// Comments
#comments {
	margin: 100px 0 30px;
	padding-bottom: 20px;

	+ hr {
		border-top-color: #111;
		margin-top: -10px;
	}

	.children {
		margin-left: 100px;
	}
}

.pingback {
	padding-bottom: 1em;
	border-bottom: 1px solid #e8e8e5;
	margin-bottom: 1em;
}

#respond {
	&:before,
	&:after {
		display: table;
		content: '';
	}
	&:after {
		clear: both;
	}

	p {
		margin-bottom: 20px;
	}

	fieldset {
		margin-bottom: 7px;
	}

	label {
		position: relative;
		float: left;
		display: inline;
		width: 140px;
		margin: 3px 20px 0 0;
	}

	.subscribe-to-comments {
		float: left;
		margin: 20px 0 10px 160px;
		width: 330px;

		clear: none !important;

		label {
			float: none;
			display: inline-block;
			width: auto;
			margin-left: 5px;
		}
	}
}

#respond textarea {
	float: left;
	width: 493px;
}

.form-submit {
	float: right;
	margin: 10px 0 20px;
}

.required { position: relative; left: 3px; }


/* Single Comment */
.comment { position: relative; }
.comment + hr { border-top-color: #111; }

.avatar {
	position: absolute; top: 0; left: -50px;
	border-radius: 33px;
}

.comment {
	.author {
		display: inline-block;
		font-size: 1.3em;
		margin-right: 20px;

		a {
			text-decoration: none;
		}
	}

	time,
	.comment-awaiting-moderation,
	.comment-edit-link {
		font-size: .8em;
		text-decoration: none;

		a {
			text-decoration: none;
		}
	}
}

.reply {
	text-align: right;

	a {
		@include tag;
	}
}

#reply-title small { float: right; margin-top: 8px; font-weight: normal; font-size: .7em; }

#respond .invalid { border-color: #f30; }




// Syntax-Highlighter
.wp_syntax {
	position: relative;
	border: 1px solid #ddd;
	background: #f6f6f6;
	margin: 20px 0;
	line-height: 1.6;
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
}




// Post-Navigation
#post-nav {
	margin: 10px 0 30px;

	&:after {
		margin-top: 10px;
		border-bottom-color: #b9b8ae;
	}

	.prev {
		float: right;
	}

	.next {
		float: left;
	}

	.prev,
	.next {
		a {
			text-decoration: none;
		}
	}

	ul {
		text-align: center;
	}

	li {
		display: inline;

		a,
		.current {
			@include tag;

			&.prev,
			&.next {
				float: none;
			}
		}

		.current {
			background: none;
			color: #111;

			&:hover {
				background: none;
			}
		}
	}
}





// Header
#header {
	max-width: 45em;
	margin: 7px auto 0;

	&:before, &:after {
		display: table;
		content: '';
	}

	&:after {
		clear: both;
	}

	.inner {

		&:before, &:after {
			display: table;
			content: '';
		}
		&:after {
			clear: both;
		}
	}
}

// Social Media Links
.social-media-links {
	list-style: none;
	margin: 0;

	&:before {
		display: table;
		content: " ";
		clear: both;
	};

	li {
		display: inline;
	}

	a {
		position: relative;
		display: inline-block;

		width: $smWidth;
		height: $smWidth;

		margin-right: 7px;
		border-radius: 2px;

		text-indent: -999em;
		background: #111 url(../img/github.png);
		background-size: $smWidth;

		&:hover {
			background-color: $color;
		}
	}

	.twitter a {
		background-image: url(../img/twitter.png);
	}
	.google-plus a {
		background-image: url(../img/google-plus.png);
	}
	.rss a {
		background-image: url(../img/feed.png);;
	}

}


// Logo
#logo {
	float: left;
	margin-bottom: 7px;

	a {
		float: left;
		border-width: 0 1px;
		padding: 10px 20px;
		background: #111;
		border-radius: 2px;

		background-color: $color;

		color: #fff;
		font-weight: bold;
		text-decoration: none;

		&:visited {
			color: #fff;
		}

		&:hover {
			background-color: $color;
		}
	}

	.icon {
		width: 50px;
		height: 50px;
		background: #111 url(../img/logo.svg);
		background-size: 50px 50px;
		padding: 0;
		margin-right: 7px;
		text-indent: -999em;
	}
}

// Main navigation
#nav {
	float: right;
	overflow: hidden;

	> div {
		display: inline;

		ul {
			display: inline;
		}
	}

	li {
		float: left;
	}

	a {
		display: inline-block;
		background: #111;
		padding: 10px 20px;
		margin-left: 7px;
		color: #fff;
		text-decoration: none;
		border-radius: 2px;

		&:visited {
			color: #fff;
		}

		&:hover {
			background-color: $color;
		}
	}

	.current-menu-item a {
		background: $color;
	}
}


// Search
#search {
	display: inline-block;
	margin-left: 7px;

	.search-icon {
		position: relative;
		float: right;
		width: $smWidth;
		height: $smWidth;
		padding: 9px;
		margin-left: 0;
		text-indent: -999em;

		background: #111 url(../img/search.png) center center no-repeat;
		background-size: 40px;
	}

	form {
		@include transition(width, 0.2s, ease-out);

		float: right;
		width: 0;
		background: $color;

		overflow: hidden;
	}

	&.active {
		.search-icon {
			background-color: $color;
		}

		form {
			width: 207px;
		}
	}

	label,
	input[type="submit"] {
		position: absolute;
		left: -999em;
	}

	input[type="search"] {
		width: 200px;
		border: 7px solid $color;
		border-width: 7px 0 6px;
		margin: 0 0 0 7px;
	}
}






// Footer
.footer {
	padding: 10px 0 100px;
	width: 45em;
	margin: 0 auto;

	.author-image {
		float: left;
		margin-right: 2em;
	}

	.follow-me,
	.widget_text {
		overflow: hidden;
	}

	.follow-me {
		margin-top: 50px;
		border-top: 1px solid #111;
		padding-top: 50px;
		text-align: center;
	}
}






// Images
.js img {
	opacity: 0;

	&.show {
		opacity: 1;
	}
}



// Ads
.bling-bling {
	position: absolute;
	top: 7px;
	right: 7px;

	width: 300px;
	border: 1px solid #aaa;
	background: #f5f5f5;
	padding: 10px;
	line-height: 1.4;
	font-size: 0.8em;
	overflow: hidden;
	border-radius: 2px;

	&:hover {
		-webkit-box-shadow: 0 0 5px #aaa;
		box-shadow: 0 0 5px #aaa;
	}

	img {
		float: left;
		opacity: 1;
		margin: 0 1em 0 0;
	}

	a {
		text-decoration: none;
		color: #111;

		&:visited,
		&:hover {
			color: #111;
		}
	}

	.bsa_it_t {
		display: block;
		font-size: 1.2em;
		padding-bottom: 5px;
	}

	.bsa_it_p {
		float: right;
		font-size: 0.9em;
		padding-top: 3px;
	}

	@media screen and (max-width: 84em) {
		width: 125px;

		img {
			float: none;
			display: block;
			margin: 0 0 1em;
			width: 100%;
			height: auto;
		}
	}

	@media screen and (max-width: 64em) {
		position: relative;
		right: 0;
		float: right;
		margin: 0 0 1em 1em;
	}

	@media screen and (max-width: 34em) {
		display: none;
	}
}


// 404-Page
.error404 { margin-bottom: 100px; }




@import 'mobile';





