/* Import CSS fires for build script */
/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
html, body, body div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */
body {
  font: 13px/1.231 sans-serif;
  *font-size: small; }

/* Hack retained to preserve specificity */
/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/**
 * Minimal base styles.
 */
/* 1) Always force a scrollbar in non-IE 
   2) Remove iOS text size adjust without disabling user zoom: www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: 0; }

a, a:active, a:visited {
  color: #607890; }

a:hover {
  color: #036; }

ul, ol {
  margin-left: 2em; }

ol {
  list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none; }

small {
  font-size: 85%; }

b, strong, th {
  font-weight: bold; }

td {
  vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px; }

.ie6 legend, .ie7 legend {
  margin-left: -7px; }

/* 1) Make inputs and buttons play nice in IE: www.viget.com/inspire/styling-the-button-element-in-internet-explorer/
   2) WebKit browsers add a 2px margin outside the chrome of form elements. 
      Firefox adds a 1px margin above and below textareas 
   3) Set font-size to match <body>'s, and font-family to sans-serif 
   4) Align to baseline */
button, input, select, textarea {
  width: auto;
  overflow: visible;
  margin: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline; }

/* 1) Remove default scrollbar in IE: www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/
   2) Align to text-top */
textarea {
  overflow: auto;
  vertical-align: text-top; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

/* Remove extra padding and inner border in Firefox */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/**
 * You might tweak these..
 */
body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */ }

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: #FF5E99; }

/* j.mp/webkit-tap-highlight-color */
/**
 * Primary styles
 *
 * Author: 
 */
/**
 * Non-semantic helper classes: please define your styles before this section.
 */
/* For image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

.ir br {
  display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements in most situations.
   nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/**
 * Placeholder media queries for responsive design. Modify as design requires.
 * These follow after, and will override, the primary ('mobile first') styles
 */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */ }
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */ }
/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
body {
  background: #fff;
  font: 15px/2 Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

/* Selected Text */
::-moz-selection {
  background: #c3beae;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #c3beae;
  color: #fff;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: #c3beae; }

/* Headlines */
h1 {
  font-size: 3em; }
  h1 a {
    text-shadow: 2px 2px 0 #fff; }

h2 {
  font-size: 2em;
  margin-top: 20px; }

h3 {
  font-size: 1.5em;
  margin-top: 18px; }

h4  {
  font-size: 1.2em; }

h1, h2, h3 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: normal;
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  hyphens: manual; }

/* Links */
a {
  color: #666;
  border-bottom: 1px dotted #aaa;
  text-decoration: none; }
  a:visited {
    color: #666; }
  a:hover {
    color: #000;
    border-bottom-color: #000;
    text-decoration: none; }

/* Quotes */
q, blockquote {
  font: italic 1em/2 Georgia, "Times New Roman", Times, serif; }

blockquote {
  margin: 20px 0;
  border-left: 5px solid #ddd;
  padding-left: 20px; }

blockquote footer {
  margin: 10px 0 10px 20px;
  font-style: normal;
  font-size: .9em; }

blockquote footer:before {
  content: '\2014\0020'; }

/* Small, Big aso. */
small {
  font-size: .85em; }

big {
  font-size: 1.5em; }

/* Code */
code {
  background: #f8f8f8;
  padding: 0 .2em;
  border: 1px solid #ddd;
  font-size: 14px;
  color: #444;
  white-space: nowrap; }

/* Images */
.alignright {
  float: right;
  margin: 10px 0 10px 20px; }

.alignleft {
  float: left;
  margin: 10px 20px 10px 0; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.alignleft a, .alignright a {
  border-bottom: none; }

.wp-caption {
  background: #f5f5f5;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px; }

.wp-caption-text {
  font-size: 0.9em;
  text-align: center;
  margin: 5px 0;
  line-height: 1; }

/* Pragraphes */
p + p {
  margin-top: 15px; }

/* Forms */
label {
  display: block; }

input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
textarea {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-bottom-color: #aaa;
  background: rgba(255, 255, 255, 0.2);
  color: #444;
  box-shadow: 0 0 10px #ddd;
  border-radius: 5px; }
  input[type="text"]:focus,
  input[type="url"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  textarea:focus {
    border-color: #aaa;
    background: white;
    box-shadow: 0 0 10px #aaa; }

textarea {
  height: 150px;
  resize: vertical; }

input:focus, textarea:focus {
  outline: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  padding: 10px 0; }

fieldset + fieldset input[type="text"],
fieldset + fieldset input[type="url"],
fieldset + fieldset input[type="email"],
fieldset + fieldset input[type="password"],
fieldset + fieldset input[type="number"],
fieldset + fieldset input[type="search"] {
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-right-radius: 0; }

/* Buttons */
.button, input[type="submit"] {
  display: inline-block;
  background: #eeeeee;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
  background: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background: -o-linear-gradient(top, #eeeeee, #cccccc);
  background: linear-gradient(top, #eeeeee, #cccccc);
  border: 1px solid #777;
  padding: .5em 1.5em;
  margin: 0.5em 0;
  text-decoration: none;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  white-space: nowrap;
  line-height: 1;
  cursor: pointer;
  overflow: visible;
  border-radius: 5px;
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.8), 0 1px 0 rgba(0, 0, 0, 0.3); }

.button:hover, input[type="submit"]:hover {
  border-bottom-color: #555;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#dddddd));
  background: -webkit-linear-gradient(top, #fafafa, #dddddd);
  background: -moz-linear-gradient(top, #fafafa, #dddddd);
  background: -ms-linear-gradient(top, #fafafa, #dddddd);
  background: -o-linear-gradient(top, #fafafa, #dddddd);
  background: linear-gradient(top, #fafafa, #dddddd); }

.button:active, input[type="submit"]:active, input[type="submit"]:focus {
  box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.3); }

.button:focus {
  outline: 0;
  background: #fafafa; }

.button:before, input[type="submit"]:before {
  float: left;
  background: #ccc;
  background: rgba(0, 0, 0, 0.1);
  width: 1em;
  padding: 0 .2em;
  margin: 0 1em 0 -1em;
  text-align: center;
  font-size: 1.5em;
  border-radius: .15em 0 0 .15em;
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 2px 0 0 rgba(255, 255, 255, 0.5); }

/* disabled buttons */
.button[disabled], .button[disabled]:hover, .button.disabled, .button.disabled:hover {
  background: #eee;
  border-color: #aaa;
  cursor: default;
  color: #aaa;
  text-shadow: none;
  box-shadow: none; }

/* Transitions */
a,
input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
textarea,
.content-widget .close,
.wp_syntax,
.js img {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-backface-visibility: hidden; }

.content-widget {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-backface-visibility: hidden; }

/* Overlay */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .7; }

#overlay.transparent {
  background: #000;
  opacity: .1; }

.message {
  border: 1px solid #ddd;
  background: #e9e8e4;
  padding: 0 1em;
  margin: 1em -1em 1.5em; }
  .message h3 {
    margin-top: .5em; }
  .message p {
    margin: .4em 0; }

/* Container */
#main {
  margin: 0 auto;
  width: 45em; }
  #main ul {
    margin-bottom: 1em; }

/* Articles */
article {
  margin: 4em 0; }

hr,
#post-nav:after,
.page-title:after {
  display: block;
  content: "";
  border-top: 1px solid #bab8ad; }

article header {
  position: relative;
  margin: 30px 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1em; }

article header h1 {
  line-height: 1.2;
  margin-bottom: 20px; }
  article header h1 a {
    color: #333;
    border-bottom: 0; }
    article header h1 a:visited {
      color: #333; }

article time, article .categories, article .author {
  font-size: 0.9em;
  color: #888; }

article .categories {
  float: right;
  padding-top: 4px; }

.permalink {
  margin-left: 10px; }

.share-post {
  text-align: center;
  padding: 15px 0 5px;
  border-top: 1px solid #c9c8c0;
  border-bottom: 1px solid #eee;
  margin: 50px 0 10px; }

.tags,
.instapaper {
  text-align: center; }

.tags {
  border-top: 1px solid #eee;
  margin-top: 7px;
  padding-top: 10px; }

.readmore {
  margin: 10px 0 80px; }
  .readmore span {
    font: 1.3em Georgia, "Times New Roman", Times, serif;
    padding-right: 3px; }

.page-title {
  margin-bottom: 50px;
  text-align: center; }

.page-title:after {
  margin: 0; }

/* Search Results */
.search-results article header {
  margin: 10px 0; }

.search-results article h1 {
  font-size: 2em;
  margin-bottom: 0; }

#searchform {
  margin-top: 20px; }

#searchform label {
  display: none; }

/* Comments */
#comments {
  margin: 100px 0 30px;
  padding-bottom: 20px; }

#comments + hr {
  border-top-color: #d9d8d2;
  margin-top: -10px; }

#comments .children {
  margin-left: 30px; }

.pingback {
  padding-bottom: 1em;
  border-bottom: 1px solid #e8e8e5;
  margin-bottom: 1em; }

#respond:before, #respond:after {
  display: table;
  content: ''; }
#respond:after {
  clear: both; }
#respond p {
  margin-bottom: 20px; }
#respond fieldset {
  margin-bottom: 2px; }
#respond label {
  position: relative;
  float: left;
  display: inline;
  width: 140px;
  margin: 2px 20px 0 0; }
#respond .subscribe-to-comments {
  float: left;
  margin: 18px 0 10px 160px;
  width: 330px;
  clear: none !important; }
  #respond .subscribe-to-comments label {
    float: none;
    display: inline-block;
    width: auto;
    margin-left: 5px; }

#respond textarea {
  width: 493px; }

.form-submit {
  float: right;
  margin: 10px 0 20px; }

#author {
  border-radius: 5px 5px 0 0; }

#email {
  border-radius: 0; }

.required {
  position: relative;
  left: 3px; }

/* Single Comment */
.comment {
  position: relative; }

.comment + hr {
  border-top-color: #e8e8e5; }

.avatar {
  position: absolute;
  top: 0;
  left: -50px;
  border-radius: 33px; }

.comment .author {
  font-size: 1.3em; }

.comment time,
.comment-awaiting-moderation,
.comment-edit-link {
  font-size: .8em; }

.reply {
  text-align: right; }

#reply-title small {
  float: right;
  margin-top: 8px;
  font-weight: normal;
  font-size: .7em; }

#respond .invalid {
  border-color: #f30; }

/* Syntax-Highlighter */
.wp_syntax {
  position: relative;
  border: 1px solid #e8e8e5;
  background: rgba(255, 255, 255, 0.2);
  margin: 20px 0;
  font-size: .85em;
  line-height: 1.6;
  border-radius: 5px; }

.wp_syntax:hover {
  background: #fff; }

/* Navigation */
#post-nav {
  margin: 10px 0 50px; }

#post-nav:after {
  margin-top: 10px;
  border-bottom-color: #b9b8ae; }

#post-nav .prev {
  float: left; }

#post-nav .next {
  float: right; }

/* Header */
#header {
  position: relative;
  background: #e9e8e4;
  margin-top: .5em;
  padding: 0 3em; }
  #header:before, #header:after {
    display: table;
    content: ''; }
  #header:after {
    clear: both; }
  #header .inner {
    max-width: 45em;
    margin: 0 auto; }
    #header .inner:before, #header .inner:after {
      display: table;
      content: ''; }
    #header .inner:after {
      clear: both; }

.social-media-links {
  list-style: none;
  margin-left: 0; }
  .social-media-links a {
    position: relative;
    display: inline;
    float: left;
    width: 32px;
    height: 32px;
    padding: .6em .8em;
    text-indent: -999em;
    border-right: 1px solid #fff;
    border-bottom: 0;
    background: #d1d0c9; }
    .social-media-links a:after {
      position: absolute;
      top: .6em;
      left: .8em;
      content: '';
      width: 32px;
      height: 32px;
      background: url(../img/sprite.png) 0 -96px; }
    .social-media-links a:hover {
      background-color: #cac8bf; }
  .social-media-links .twitter a:after {
    background-position: 0 -64px; }
  .social-media-links .lastfm a:after {
    background-position: 0 0; }
  .social-media-links .rss a:after {
    background-position: 0 -32px; }
  .social-media-links li:first-child a {
    border-left: 1px solid #fff; }

#logo {
  float: left; }
  #logo a {
    display: block;
    border: 1px solid #fff;
    border-width: 0 1px;
    padding: .7em 1.5em;
    margin-left: -1px;
    background: #cac8bf;
    color: #000;
    font-weight: bold; }
    #logo a:visited {
      color: #000; }
    #logo a:hover {
      color: #000; }

#nav {
  float: right;
  overflow: hidden; }
  #nav li {
    float: left; }
  #nav a {
    display: block;
    background: #d1d0c9;
    padding: .7em 1.5em;
    border-right: 1px solid #fff;
    border-bottom: 0;
    color: #4b493f; }
    #nav a:visted {
      color: #4b493f; }
    #nav a:hover {
      background: #cac8bf; }
  #nav li:first-child a {
    border-left: 1px solid #fff; }
  #nav .current-menu-item a {
    background: #b2b0a4;
    color: #000; }
    #nav .current-menu-item a:visted {
      color: #000; }

.search-icon {
  position: absolute;
  top: 0;
  right: 3em;
  width: 32px;
  height: 32px;
  text-indent: -999em;
  padding: .6em .7em;
  border: 1px solid #fff;
  border-width: 0 1px;
  background: #d1d0c9; }
  .search-icon:after {
    position: absolute;
    top: 11px;
    left: 12px;
    content: '';
    width: 27px;
    height: 27px;
    background: url(../img/sprite.png) 0 -128px; }

/* Content Widgets */
.content-widget {
  position: absolute;
  z-index: 2000;
  background: rgba(10, 10, 10, 0.8);
  border: 1px solid #000;
  color: #ddd;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: scale(0) translate3d(0, 0, 0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  /* Arrow */ }
  .content-widget:before {
    content: '\0020';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border-top: 1px solid #aaa;
    background: rgba(100, 100, 100, 0.9);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(100, 100, 100, 0.9)), to(rgba(100, 100, 100, 0)));
    background: -webkit-linear-gradient(top, rgba(100, 100, 100, 0.9), rgba(100, 100, 100, 0));
    background: -moz-linear-gradient(top, rgba(100, 100, 100, 0.9), rgba(100, 100, 100, 0));
    background: -ms-linear-gradient(top, rgba(100, 100, 100, 0.9), rgba(100, 100, 100, 0));
    background: -o-linear-gradient(top, rgba(100, 100, 100, 0.9), rgba(100, 100, 100, 0));
    background: linear-gradient(top, rgba(100, 100, 100, 0.9), rgba(100, 100, 100, 0)); }
  .content-widget .close {
    position: absolute;
    top: 0;
    z-index: 20;
    width: 16px;
    line-height: 16px;
    margin: 5px;
    border: 0;
    background: #ddd;
    color: #333;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 -1px 0 white;
    opacity: .7;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); }
    .content-widget .close:hover {
      opacity: 1; }
  .content-widget .inner {
    position: relative;
    z-index: 10;
    padding: 12px; }
    .content-widget .inner:before, .content-widget .inner:after {
      content: '\0020';
      position: absolute;
      top: -9px;
      right: 30px;
      width: 0;
      height: 0;
      border-width: 0 10px 10px 10px;
      border-style: solid;
      border-color: #666 transparent;
      margin-left: -7px; }
    .content-widget .inner:before {
      top: -10px;
      border-color: #aaa transparent; }

#search {
  top: 60px;
  right: 30px; }
  #search input {
    border: 1px solid #000;
    color: #888;
    background: rgba(29, 28, 24, 0.2);
    text-align: center;
    box-shadow: none;
    width: 200px; }
  #search fieldset:first-child input {
    border-radius: 5px 5px 0 0; }
  #search fieldset + fieldset input {
    border-top-color: #444; }
  #search input[type="submit"] {
    float: left;
    display: inline;
    padding: 10px;
    margin: 0;
    border-radius: 0 0 5px 5px;
    text-shadow: 0 1px 1px #000;
    color: #fff;
    background: rgba(20, 20, 20, 0);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, 0)), to(rgba(20, 20, 20, 0.8)));
    background: -webkit-linear-gradient(top, rgba(20, 20, 20, 0), rgba(20, 20, 20, 0.8));
    background: -moz-linear-gradient(top, rgba(20, 20, 20, 0), rgba(20, 20, 20, 0.8));
    background: -ms-linear-gradient(top, rgba(20, 20, 20, 0), rgba(20, 20, 20, 0.8));
    background: -o-linear-gradient(top, rgba(20, 20, 20, 0), rgba(20, 20, 20, 0.8));
    background: linear-gradient(top, rgba(20, 20, 20, 0), rgba(20, 20, 20, 0.8)); }
    #search input[type="submit"]:focus, #search input[type="submit"]:active {
      background: #000; }
  #search label {
    margin-bottom: 10px;
    color: #ddd;
    line-height: 1;
    text-shadow: 0 -1px 1px black;
    text-align: center; }

/* Footer */
.footer {
  padding: 10px 0 100px;
  width: 45em;
  margin: 0 auto; }
  .footer .author-image {
    float: left;
    margin-right: 2em; }

/* Images */
.js img {
  opacity: 0; }
  .js img.show {
    opacity: 1; }

/* 404-Page */
.error404 {
  margin-bottom: 100px; }

/* Markdown */
#markdown {
  display: none;
  position: fixed;
  top: 50px;
  left: 50%;
  z-index: 102;
  width: 500px;
  margin: 0 -270px;
  border: 1px solid #ddd;
  padding: 0 20px 10px;
  background: #fff;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 5px; }

#markdown .close {
  float: right;
  height: 24px;
  padding: 0 5px;
  margin-right: -7px;
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic; }

.ruleset {
  padding-top: 10px;
  border-top: 1px solid #ddd;
  margin-top: 10px;
  line-height: 1.2; }

.ruleset:last-child {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px; }

@media screen and (max-width: 60em) {
  /* Footer */
  #footer .inner {
    width: auto;
    margin: 0 2em; } }
@media screen and (max-width: 54em) {
  /* Header */
  #nav {
    margin-right: 3.55em; } }
/* iPad */
@media screen and (max-width: 48em) {
  /* Images */
  img {
    max-width: 100%;
    height: auto; }

  img[width] {
    max-width: 100% !important;
    height: auto !important; }

  /* Main */
  #main {
    width: auto;
    max-width: 48em;
    margin: 0 2em; }

  article {
    margin: 3em 0; }

  article header {
    margin: 2em 0;
    padding: 0 0 1em; }

  .animate-wrap {
    width: auto;
    height: auto; } }
@media screen and (max-width: 42em) {
  #header .inner {
    width: 100%;
    margin: 1px 0 0; }

  .social-media-links {
    overflow: hidden; }

  #nav {
    margin-right: 0; }

  #respond textarea {
    width: 300px; } }
/* Phones */
@media only screen and (max-width: 480px) {
  body {
    line-height: 1.7; }

  /* Headlines */
  h1 {
    font-size: 2em; }

  h2 {
    font-size: 1.5em;
    margin-top: 10px; }

  h3 {
    font-size: 1.2em;
    margin-top: 5px; }

  h4  {
    font-size: 1.1em; }

  /* Inputs */
  input,
  #respond input,
  textarea,
  #respond textarea {
    width: 100%;
    box-sizing: border-box;
    font-size: 1em; }

  /* Header */
  #header {
    padding: 0 1.5em; }

  #logo a {
    padding: .5em 1em; }

  .social-media-links a,
  .search-icon {
    width: 24px;
    height: 24px; }

  .social-media-links a:after,
  .search-icon:after {
    width: 24px;
    height: 24px;
    background-size: 24px auto;
    background-position: 0 -72px; }

  .social-media-links .twitter a:after {
    background-position: 0 -48px; }
  .social-media-links .lastfm a:after {
    background-position: 0 0; }
  .social-media-links .rss a:after {
    background-position: 0 -24px; }

  .search-icon {
    right: 1.5em; }
    .search-icon:after {
      height: 20px;
      background: url(../img/sprite.png) 0 -96px; }

  #nav {
    float: none; }
    #nav a {
      padding: .5em 1em; }

  #nav li:first-child a {
    border-left: 0; }

  #comments {
    margin: 3em 0 1em; }

  .required {
    display: none; }

  /* Main */
  #main {
    margin: 0 1.5em; }

  article {
    margin: 2em 0 1em; }

  article header {
    margin: 30px 0;
    padding: 0 0 10px; }

  article header:after {
    display: table;
    content: '';
    clear: both; }

  article header h1 {
    margin-bottom: 0; }

  #post-nav {
    display: none; }

  /* Footer */
  .col-1, .col-2, .col-3, .col-4 {
    float: none;
    display: block;
    width: auto;
    margin: 0 0 2em; } }
